div{
    width:35px; height:35px;
    font-size:30px; text-align: center;
    }
    #kutu1{ background-color: tomato; }
    #kutu2{ background-color: teal; }
   #kutu3{ background-color: purple; }